.addBody {
  background-color: #b0ddd8;
  /* width: 100vw; */
}
.viewHeight {
  height: 100vh;
}
.Percentage {
  height: 100%;
}
.left {
  left: 5px;
  top: 5px;
}
.right {
  right: 5px;
  top: 5px;
}
.iconImage {
  max-width: 55px;
}
.icon {
  max-width: 35px;
  cursor: pointer;
}
.blurred {
  filter: blur(5px);
  pointer-events: none;
}
