.boxContainer {
  position: relative;
}
.Box {
  width: 49.2vw;
}
.boxDetails {
  position: absolute;
  z-index: 10;
  bottom: 5%;
  left: 7%;
  /* margin-left: 40px; */
  width: 15rem;
}
.boxButton {
  color: white;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #2ebb77;
  padding: 15px 30px;
}
